@media only screen and (max-width: 1335px) {
  .container {
    width: 1140px;
  }
}
@media only screen and (max-width: 1155px) {
  .container {
    width: 960px;
  }
  .section2 > div {
    width: 50%;
  }
  .section3 > div {
    width: 50%;
  }
  .section4 > div {
    width: 50%;
  }
  .section4 {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 963px) {
  .container {
    width: 720px;
  }
  a {
    font-size: 0;
  }
  nav > a {
    font-size: 0;
  }
  nav {
    display: flex;
    align-items: center;
  }
  nav > a {
    min-height: 44px;
  }
  .menu {
    background-image: url("./images/menu.svg");
    background-repeat: no-repeat;
    color: white;
  }
  .section2 > div {
    width: 100%;
  }

  .section4 > div {
    width: 100%;
  }
}
@media only screen and (max-width: 725px) {
  .container {
    width: 540px;
  }
}
@media only screen and (max-width: 560px) {
  .container {
    width: 100%;
  }
}
